include ./../header.pug

form(method='post' action=action)
  input(name='title' placeholder='title' value='Test Submit')
  br
  input(name='content' placeholder='content' value='Test Content For Submit')
  br
  input(type='submit')

include ./../footer.pug