<div class="post inner">
	<h1>{{post.title}}</h1>

	<div class="byline">
		By <a href="">{{post.author.name}}</a>
	</div>

	{{#if post.tags}}
		<div class="tags">
			Tagged: {{#each post.tags}}
				<a href="">{{this.name}}</a>{{#unless @last}}, {{/unless}}
			{{/each}}
		</div>
	{{/if}}

	<div class="contents">
		{{{post.content}}}
	</div>
</div>