body { 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.6;
}

header {
	background-image: url('/images/road.jpg');
	background-size: cover;
	background-position: center center;
	height: 50px;
	color: white;
	padding: 30px;
}

main {
	flex: 1;
	padding: 10px;
}

.inner {
	max-width: 700px;
	margin: 0 auto;
}

footer {
	border-top: 1px solid black;
	padding: 10px;
	text-align: center;
}

.blogName {
	font-size: 2.5rem;
	font-family: 'Muli', sans-serif;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2rem; }
i, em { font-style: italic; }
b, strong { font-weight: bold; }
blockquote { padding-left: 30px; border-left: 10px solid black; }

a {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

.post h1 { font-weight: bold; }
.post .contents { margin-top: 1rem; }