/*
font-family: 'Raleway', sans-serif;
font-family: 'Lusitana', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
*/

body { 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.6;
	font-family: 'Lusitana', serif;
}

header {
	background-image: url('/images/road.jpg');
	background-size: cover;
	background-position: center center;
	height: 50px;
	color: white;
	padding: 30px;
}

main {
	flex: 1;
	padding: 10px;
}

.inner {
	max-width: 700px;
	margin: 0 auto;
}

footer {
	padding: 10px;
	text-align: center;
	font-size: .8rem;
}

.blogName {
	font-size: 2.5rem;
}

h1 { font-family: 'Raleway', sans-serif; font-size: 3.5rem; }
h2 { font-family: 'Raleway', sans-serif; font-size: 2.6rem; }
h3 { font-family: 'Raleway', sans-serif; font-size: 2rem; }
i, em { font-style: italic; }
b, strong { font-weight: bold; }
blockquote { padding-left: 30px; border-left: 5px solid black; }

a {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

.post h1 {  }
.post .byline { font-size: 1rem; }
.post .contents { margin: 1rem 0; }

.post .tags a { 
	background-color: #ccc;
	padding: 5px;
	text-decoration: none;
	font-size: 1rem;
}