<!doctype html>
<html lang="en-US">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{{title}}</title>
    	<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<header>
			<span class="blogName">{{blogName}}</span>
			<div class="menu">

			</div>
		</header>

		{{{@body}}}

		<footer>
		© {{copyrightYear}} Tim Camara
		</footer>
	</body>
</html>